/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.mjs.timestamp-*
vite.config.js.timestamp-*
.DS_Store
Thumbs.db

# Database
/database/*.sqlite
/database/*.sqlite-journal

# Storage generated cache, sessions, views and logs
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

# Confidential Stripe activation & internal documentation
/docs/
*.docx
*Stripe*Compliance*
*Stripe*Activation*

# Archives and Local Database Dumps
*.zip
*.sql
